@font-face {
    font-family: 'Savoye';
    src: url('fonts/Savoye.ttf');
}

@font-face {
    font-family: 'LovelyDay';
    src: url('fonts/LovelyDay.ttf');
}

@font-face {
    font-family: 'American';
    src: url('fonts/American.ttf');
}

body {
    font-family: 'Arial';
}

input[type="text"], select {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 1em;
    padding: 0.5em 1em;
}

#pendant {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textOutput {
    display: flex;
    cursor: move;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    color: #404040;
    text-shadow: 1px 1px 2px #3d3d3da8, 0 0 1em #ffffff90, 0 0 0.2em #ffffff81;
    transform-origin: 0 0;
}

.closeButton {
    display: none;
    text-align: center;
    font-family: Arial;
    background-color: red;
    color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transform: scale(1);
}

/* Mostra l'icona di chiusura e l'icona di ridimensionamento solo quando si passa il mouse sopra textOutput */
.textOutput:hover .closeButton {
    display: block !important;
}

.ui-resizable-se {
    display: none;
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: -8px;
    background-position: -16px -224px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -10px;
}

.textOutput:hover .ui-resizable-se {
    display: block !important;
}

.ui-icon-gripsmall-diagonal-se {
    display: none !important;
    display: none;
    position: absolute;
    margin: -3px;
}

.textOutput:hover .ui-icon-gripsmall-diagonal-se  {
    display: block !important;
}

.ui-resizable-e {
    display: none !important;
}

.toolbar {
    display: none; /* Nasconde la barra degli strumenti di default */
    position: absolute; /* Permette di posizionare la barra degli strumenti a destra del #pendant */
    right: -50px; /* Posiziona la barra degli strumenti a 50px a destra del #pendant */
}

.toolbarButton {
    display: block; /* Mostra i pulsanti della barra degli strumenti uno sotto l'altro */
}