@font-face {
    font-family: 'Savoye';
    src: url('fonts/Savoye.ttf');
}

@font-face {
    font-family: 'LovelyDay';
    src: url('fonts/LovelyDay.ttf');
}

@font-face {
    font-family: 'American';
    src: url('fonts/American.ttf');
}

body {
    font-family: 'Arial';
}

.container {
    display: flex;
}

#engravingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}


#textElement {
    margin-top: 78px;
    width: 200px; /* Ad esempio, 80% della larghezza del contenitore padre */
    height: 30px; /* Ad esempio, 30 pixel di altezza */
    /* Imposta la dimensione del font */
    font-size: 14px; /* Ad esempio, 14 pixel */
    text-align: center;
}


label {
    /* Imposta la dimensione del font */
    font-size: 12px; /* Ad esempio, 14 pixel */
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    /* Imposta la larghezza e l'altezza desiderate */
    margin-top: 50px;
    width: 80px; /* Ad esempio, 80% della larghezza del contenitore padre */
    height: 30px; /* Ad esempio, 30 pixel di altezza */
    /* Imposta la dimensione del font */
    font-size: 14px; /* Ad esempio, 14 pixel */
}

#pendant {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px; /* Riduci il margine superiore per spostare l'elemento in alto */
    margin-left: -30px; /* Aggiungi un margine negativo a sinistra per spostare l'elemento a sinistra */
}

.textOutput {
    display: flex;
    cursor: move;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    color: #404040;
    text-shadow: 1px 1px 2px #3d3d3da8, 0 0 1em #ffffff90, 0 0 0.2em #ffffff81;
    transform-origin: 0 0;
}

.closeButton {
    display: none;
    text-align: center;
    font-family: Arial;
    background-color: red;
    color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transform: scale(1);
}

/* Mostra l'icona di chiusura e l'icona di ridimensionamento solo quando si passa il mouse sopra textOutput */
.textOutput:hover .closeButton {
    display: block !important;
}

.ui-resizable-se {
    display: none;
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: -8px;
    background-position: -16px -224px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -10px;
}

.textOutput:hover .ui-resizable-se {
    display: block !important;
}

.ui-icon-gripsmall-diagonal-se {
    display: none !important;
    display: none;
    position: absolute;
    margin: -3px;
}

.textOutput:hover .ui-icon-gripsmall-diagonal-se  {
    display: block !important;
}

.ui-resizable-e {
    display: none !important;
}


.imageContainer {
    position: relative;
}

.imageContainer:hover .closeButton {
    display: block;
}


#base {
    /* Imposta la larghezza e l'altezza desiderate */
    height: 20px; !important /* Ad esempio, 30 pixel di altezza */
    /* Imposta la dimensione del font */
    font-size: 14px; !importan/* Ad esempio, 14 pixel */
    position: static;
}

.label-font-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

.label-font-container label {
    margin-right: 5px;
}

.dd-selected {
    display: flex;
    /* Centra gli elementi orizzontalmente e verticalmente */
    justify-content: center;
    flex-direction: row ;
   
    /* Imposta la larghezza e l'altezza desiderate */
    width:230px; /* Ad esempio, 80% della larghezza del contenitore padre */
    height: 50px; /* Ad esempio, 30 pixel di altezza */
    /* Imposta la dimensione del font */
    font-size: 14px; /* Ad esempio, 14 pixel */
    /* Evita che il testo vada a capo */
    white-space: nowrap;
}

.text-input-container {
    display: flex;
    justify-content: center;
}

.text-input-container input[type="submit"] {
    margin-left: 5px;
    margin-top: 80px;
}