@font-face {
    font-family: 'Savoye';
    src: url('fonts/Savoye.ttf');
}

@font-face {
    font-family: 'LovelyDay';
    src: url('fonts/LovelyDay.ttf');
}

@font-face {
    font-family: 'American';
    src: url('fonts/American.ttf');
}

input[type="text"], select {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 1em;
    padding: 0.5em 1em;
}

#pendant {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder {
    margin: 0;
}

.textOutput {
    display: flex;
    cursor: move;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.textOutput:hover .closeButton {
    display: block;
}

.textOutput:hover {
    display: block;
}

    .closeButton {
        display: none;
        font-family: Arial;
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: red;
        color: white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        line-height: 14px; /* Modificato per centrare la "x" */
        cursor: pointer;
        transform: scale(1); 
        pointer-events: none;
    }

